<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="laulamanapps_apple_passbook_bundle.device.register"
           path="/v1/devices/{deviceLibraryIdentifier}/registrations/{passTypeIdentifier}/{serialNumber}"
           controller="LauLamanApps\ApplePassbookBundle\Controller\V1\PassKit\DeviceController:register"
           methods="POST"/>
    <route id="laulamanapps_apple_passbook_bundle.device.unregister"
           path="/v1/devices/{deviceLibraryIdentifier}/registrations/{passTypeIdentifier}/{serialNumber}"
           controller="LauLamanApps\ApplePassbookBundle\Controller\V1\PassKit\DeviceController:unregister"
           methods="DELETE"/>
    <route id="laulamanapps_apple_passbook_bundle.device.updated_passes"
           path="/v1/devices/{deviceLibraryIdentifier}/registrations/{passTypeIdentifier}"
           controller="LauLamanApps\ApplePassbookBundle\Controller\V1\PassKit\DeviceController:getSerialNumbers"
           methods="GET"/>
</routes>